@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    box-sizing: border-box; 
 } 

body{

background-color: black;
font-family: 'Cormorant Garamond', serif;
font-size: 14px ;

  letter-spacing: 0.1em;
  color: #ffffff;
  text-align: center;
  width: 100vw;
  height: 100vh;
  margin: 0px;
  background-image: url("../img/PORTADA.png");
  background-attachment: fixed; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


}


.container {
    width: 100vw;
    height: 100vh;
    display: flex;

}

.row {
    width: 100vw;
    height: 100vh;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.col{
    width: 50%;
    height: 50%;

}

.col p{

    margin: 0;

}

a:-webkit-any-link {
    text-decoration: none;
    font-style:italic;
  
  }

