@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');




 * {
	 box-sizing: border-box; 
  } 
  
  body {
	/* display: block; 
	background-color: #000000;
	/* position: fixed; */
	text-align: center;
  font-family: 'Cormorant Garamond', serif;
	letter-spacing: 0.1em;
	color: #ffffff;
	/* flex-wrap: wrap; */
	margin: 0;
	width: 100%;
	height: 100% !important;
	background-image: url("../img/PORTADA.png");
	background-attachment: fixed; 
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  }


  /* STRUCTURE */

.wrapper {
	/* padding: 5px; */
  /* max-width: 100%; */
  display: flex;
  width: 100vw;
  /* height: 100vh; */
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 50px 50px;

	/* margin: 20px auto; */
}
header {
  
  justify-content: center;
}

header img{
margin-top:7px;
  width: 230px;


}


.row {
	display: flex;
  /* flex-flow: row wrap; */
  flex-flow: wrap;
	justify-content: center;
	margin: 5px 0;
}

.column {
  /* flex: 1; */
  width: 25%;
  /* height:100%; */

  /* margin: 0px 20px 0px 20px;
    padding: 0px 20px 0px 20px; */
	/* &:first-child { margin-left: 0; }
	&:last-child { margin-right: 0; }
	 */
}


h4{


  font-size: 20px;
  font-weight: lighter;
  margin-block-start: 3em;
  margin-block-end: 1.5em;

}


h3{

  font-style:italic;
  font-size: 25px;
  font-weight: lighter;
  margin-block-start: 0.5em;



}

h2{
font-size: 48px;
margin-block-start: 0em;
margin-block-end: 0em;


}

p{
  margin-block-start: 0.4em;


}

footer {
  padding: 0 5px;


}

.btninicio{

  background-color: transparent; 
  background-position: 100% 0;
  background-size: 200% 200%;
  border: none; 
  outline: solid;
  outline-width: 1px;
  color: rgb(228, 175, 39);
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow: 0px 8px 8px rgba(255, 253, 253, 0.2);
  text-align: center;
  font-size: 16px;
  width: 250px;
  height: 40px; 
  margin: 25px;
  box-shadow: 0 16px 32px 0 rgba(252, 181, 100, 0.247);
  font-family: 'Cormorant Garamond', serif;
  z-index: 1;
  cursor: pointer;
  
  
}

.btninicio:hover {
  box-shadow: 0 16px 16px 0 rgba(255, 255, 255, 0.0966);
  background-position: 0 0; 
  color: rgb(252, 195, 88);
  transition: all 0.5s;
  -webkit-transform: scale(1.025);
  -ms-transform: scale(1.025);
  transform: scale(1.025);
}



.btninicio:disabled{
  background-color: gray;
  color: #242420; 
  cursor: not-allowed;
}








a:-webkit-any-link {
  text-decoration: none;
  font-style:italic;

}


@media screen and (max-width: 980px) {
  /* .row .column {
		margin-bottom: 5px;
    flex-basis: 40%;
    &:nth-last-child(2) {
			margin-right: 0;
		}
		&:last-child {
			flex-basis: 100%;
			margin: 0;
		}
  } */

  .row {
    flex-wrap: wrap;
  }
  
}

@media screen and (max-width: 680px) {
	/* .row .column {
		flex-basis: 100%;
		margin: 0 0 5px 0;
  } */
  .row > .column {
		flex-basis: 100%; 
  }
}
  







/* .demo3{

  background-size: 300px;
    height: 220px;
    width: auto;
} */






/* h3{
  font-size: 1.25em;
  word-spacing: auto;
  letter-spacing: 0.025em;
  font-style: italic;
}
        
p{
padding-top: 20px;
text-align: center; 

font-style: normal;
font-weight: normal;
font-size: 1em;

line-height: 25px;


 }


 .my-col{

    display: block;
    position: relative;

   
}


  .texto{

padding-top: 50px;


  }

.my-col3{

padding-bottom: 50px;


  }

.my-col1{
padding-bottom: 50px;

} */


 /* BOTONES */

/* .my-btn{

justify-content: space-around;

width: 30px;

 } */

 /* #my-btni{


border-radius: 22px;
    
 } */


/* .btn-5{

  background-color: transparent; 
  background-position: 100% 0;
  background-size: 200% 200%;
  border: none; 
  outline: solid;
  outline-width: 1px;
  color: rgb(228, 175, 39);
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow: 0px 8px 8px rgba(255, 253, 253, 0.2);
  text-align: center;
  font-size: 16px;
  width: 250px;
  height: 40px; 
  //transition: all 0.5s;  

  margin: 50px;
  box-shadow: 0 16px 32px 0 rgba(252, 181, 100, 0.247);
  transition: all 0.5s ease;
 
}




.btn-5:hover {
  box-shadow: 0 16px 16px 0 rgba(255, 255, 255, 0.0966);
  background-position: 0 0; 
  color: rgb(252, 195, 88);



}



.btn-5:disabled{
  background-color: gray;
  color: #242420; 
  cursor: not-allowed;
}


.btn-3{
  font: orange; 
  font-style:italic;
  font-size: 15px;
    width: 150px;
   
} */








/* PETALOS DE FONDO */


.petal {
    height: 950px;
    width: 100%;
    position: absolute;
    top: -150px;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
    z-index: -1;

  }
  
  .petal span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 200px 10px 200px 200px;
    background: linear-gradient(to bottom, rgb(209, 146, 28), rgb(240, 205, 153));
    z-index: 1;
    transform: skewX(30deg);
    backface-visibility: visible;
    -webkit-animation: fallingSakura1 7s ease infinite;


  }
  
  .petal span:nth-of-type(3n+2) {
    -webkit-animation: fallingSakura2 7s ease infinite;
  }
  
  .petal span:nth-of-type(3n+1) {
    -webkit-animation: fallingSakura3 7s ease infinite;

  }
  
  
  .petal span:nth-of-type(n)   { -webkit-animation-delay: -1.9s;}
  .petal span:nth-of-type(2n)  { -webkit-animation-delay: 3.9s;}
  .petal span:nth-of-type(3n)  { -webkit-animation-delay: 2.3s;}
  .petal span:nth-of-type(4n)  { -webkit-animation-delay: 4.4s;}
  .petal span:nth-of-type(5n)  { -webkit-animation-delay: 5s;  }
  .petal span:nth-of-type(6n)  { -webkit-animation-delay: 3.5s;}
  .petal span:nth-of-type(7n)  { -webkit-animation-delay: 2.8s;}
  .petal span:nth-of-type(8n)  { -webkit-animation-delay: 1.5s;}
  .petal span:nth-of-type(9n)  { -webkit-animation-delay: 3.3s;}
  .petal span:nth-of-type(10n) { -webkit-animation-delay: 2.5s;}
  .petal span:nth-of-type(11n) { -webkit-animation-delay: 1.2s;}
  .petal span:nth-of-type(12n) { -webkit-animation-delay: 4.1s;}
  .petal span:nth-of-type(13n) { -webkit-animation-delay: 5.8s;}
  .petal span:nth-of-type(14n) { -webkit-animation-delay: -0.1s;}
  .petal span:nth-of-type(15n) { -webkit-animation-delay: 6.3s;}
  .petal span:nth-of-type(16n) { -webkit-animation-delay: -1s;}
  .petal span:nth-of-type(17n) { -webkit-animation-delay: 7.4s;}
  .petal span:nth-of-type(18n) { -webkit-animation-delay: -0.3s;}
  .petal span:nth-of-type(19n) { -webkit-animation-delay: 8.3s;}
  .petal span:nth-of-type(20n) { -webkit-animation-delay: -0.6s;}
  .petal span:nth-of-type(21n) { -webkit-animation-delay: 7.7s;}
  
  .petal span:nth-of-type(2n+2) {
    background: linear-gradient(to right, orange, rgb(224, 202, 105));
    width: 40px;
    height: 40px;

  }
  
  .petal span:nth-of-type(3n+1) {
    background: linear-gradient(to right, orange, rgb(240, 189, 94));
    
  }
  
  .petal span:nth-of-type(3n+2) {
    border-radius: 20px 1px;
  }
  .petal span:nth-of-type(3n+3) {
    transform: rotateX(-180deg);
  }
  
  .petal span:nth-of-type(3n+2) {
    animation-duration: 12sec;
  }
  
  .petal span:nth-of-type(4n+2) {
    animation-duration: 9sec;
  }
  
  .petal span:nth-of-type(5n+2) {
    width: 12px;
    height: 12px;
    box-shadow: 1.5px 1.5px 8px #fc7bd1;
  }
  
  .petal span:nth-of-type(4n+3) {
    width: 10px;
    height: 10px;
    box-shadow: 1px 1px 6px #fc7bd1;
  }
  
  @-webkit-keyframes fallingSakura1 {
        0% {
          -webkit-transform:
              translate3d(0,0,0)
              rotateX(0deg);
          opacity: 1;
      }  
      
      100% {
          -webkit-transform:
              translate3d(400px,1200px,0px)
              rotateX(-290deg);
          opacity: 0.3;
      }
  }
  
  @-webkit-keyframes fallingSakura2 {
      0% {
          -webkit-transform:
              translate3d(0,0,0)
              rotateX(-20deg);
        opacity: 1;
      }  
      
      100% {
          -webkit-transform:
              translate3d(200px,1200px,0px)
              rotateX(-70deg);
              opacity: 0.2;
      }
  }
  
  @-webkit-keyframes fallingSakura3 {
       0% {
          -webkit-transform:
              translate3d(0,0,0)
              rotateX(90deg);
         opacity: 1;
      }
      
      100% {
          -webkit-transform:
              translate3d(500px,1200px,0px)
              rotateX(290deg);
          opacity: 0;
      }
  }


/* flores de fondo */

#petals{



    animation: fadein 6s;
    -moz-animation: fadein 6s; /* Firefox */
    -webkit-animation: fadein 6s; /* Safari and Chrome */
    -o-animation: fadein 6s; /* Opera */
}


  